imageio==2.22.1
matplotlib==3.11.1
moviepy==1.0.3
numpy==2.5.1
opencv_python==5.0.0.93
pandas==3.0.3
PyQt5==5.15.11
pyqt5_sip==12.17.1
PySide6==6.11.1
scikit_learn==1.2.2
scipy==1.18.0
SoccerNet==0.1.62
SoccerNet==0.1.62
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.65.0
ultralytics==8.2.0
wandb==0.28.1
